@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 97%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 40% 90%;
    --muted-foreground: 216 12% 47%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 85%;
    --input: 214 32% 85%;
    --ring: 231 48% 48%;
    --chart-1: 122 39% 49%;
    --chart-2: 43 74% 66%;
    --chart-3: 231 48% 48%;
    --chart-4: 27 87% 67%;
    --chart-5: 0 84% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 218 11% 65%;
    --accent: 122 39% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 231 48% 60%;
    --chart-1: 122 39% 60%;
    --chart-2: 43 74% 70%;
    --chart-3: 231 48% 60%;
    --chart-4: 27 87% 70%;
    --chart-5: 0 63% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
